---
const skills = {
  languages: ["JavaScript/TypeScript", "Python", "HTML/CSS", "SQL"],
  frameworks: ["React.js", "Next.js", "Flask", "Node.js"],
}
---

<div class="container gap-2 flex flex-col pl-1">
  <h3 class="text-xl font-bold">Languages</h3>
  <ul class="flex flex-col gap-2 w-full list-disc pl-5">
    {skills.languages.map((skill) => <li>{skill}</li>)}
  </ul>
  <hr class="border-gray-700" />
  <h3 class="text-xl font-bold">Frameworks</h3>
  <ul class="flex flex-col gap-2 w-full list-disc pl-5">
    {skills.frameworks.map((skill) => <li>{skill}</li>)}
  </ul>
</div>
