---
import Experience from "./experience/index.astro"
---

<div class="col-span-7 flex flex-col place-items-start px-4 py-10 gap-6">
  <section class="flex flex-col gap-2">
    <h1 class="text-4xl font-bold">Shintaro Jokagi</h1>
    <p class="text-xl font-semibold">
      Computer Science/IT Management Student at University of Auckland
    </p>
    <p class="text-xl">Web Developer and Open Source Contributor</p>
  </section>
  <section class="w-full flex gap-4 flex-col">
    <div class="flex flex-row gap-4 w-full items-center">
      <h2 class="text-2xl font-bold text-nowrap">Work Experience</h2>
      <hr class="w-full border-t-2 border-gray-700" />
    </div>
    <Experience />
  </section>
</div>
